@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary-purple: #6E0AB8;
  --primary-purple-hover: #5a0894;
  --input-ring: #E9EAEA;
  --font-plus-jakarta-sans: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;

  /* Scrollbar colors */
  --primary: #f1f1f1; /* track */
  --secondary: rgba(31, 209, 253, 0.4); /* thumb */
  --tertiary: rgba(31, 209, 253, 0.6); /* thumb hover */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-purple);
  --color-primary-hover: var(--primary-purple-hover);
  --color-input-ring: var(--input-ring);
  --font-family-sans: var(--font-plus-jakarta-sans);
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select {
  font-family: var(--font-plus-jakarta-sans);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

/* ========= Notification Scrollbar Styles ========= */

.custom-scroll::-webkit-scrollbar {
  width: 4px; /* Thin scrollbar */
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f8f9fa; /* Track color */
  border-radius: px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #7D38DC;
  border-radius: 0 0 4px 4px;

  /* Make thumb visually shorter */
  border-top: 0px solid transparent; /* space at top */
  border-bottom:5px solid transparent; /* space at bottom */
  background-clip: padding-box;

  /* Keeps it narrow */
  min-height: 20px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #6B21A8;
  background-clip: padding-box;
}


.custom-Horizontalscroll::-webkit-scrollbar {
  height: 4px; /* Thin horizontal scrollbar height */
}

.custom-Horizontalscroll::-webkit-scrollbar-track {
  background: #f8f9fa; /* Track color */
  border-radius: 4px;
}

.custom-Horizontalscroll::-webkit-scrollbar-thumb {
  background: #7D38DC;
  border-radius: 4px;

  /* Keeps it short visually if needed */
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  background-clip: padding-box;

  min-width: 20px; /* min thumb length */
}

.custom-Horizontalscroll::-webkit-scrollbar-thumb:hover {
  background: #6B21A8;
  background-clip: padding-box;
}


.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scroll-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}

